{% extends "base.html" %}

{% block page_content %}
<br>
<br>
<h1>Pomocnik Tedekowicza</h1>
<br>
<h3>Aplikacja ma na celu ułatwienie budowy scenerii</h3>
<h5>Wszelkie formuły oparte na <a href="https://docs.google.com/spreadsheets/d/1JBnzTHlSux_R7UJkdTkZtIPwbK6sNjjMU86ZzJXTSng/edit#gid=596467753">Arkuszu Aresa</a></h5>
<h5>Niektóre dane zaczerpnięte z <a href="https://nitro.td2.info.pl/pomocnik/10/">Pomocnika by Nitro</a></h5>
<br>
<br>
<div style="text-align: center; display: inline-block;">
    <a href="/#/" style=" text-align: center; display: inline-block;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Generator wpisów semaforów</h5>
                <p class="card-text">Generator wpisów semaforów - "must have" szanującego się konstruktora.</p>
            </div>
        </div>
    </a>
    <a href="/#/" style=" text-align: center; display: inline-block;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Generator numerów pociągów</h5>
                <p class="card-text">Generator numerów dla pociągów zgodny z Ir-11 i Regulaminem TD2.</p>
            </div>
        </div>
    </a>
    <a href="/#/" style=" text-align: center; display: inline-block;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}